@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Lato", sans-serif;
  }
}

@layer components {
  .icon {
    @apply w-4 h-4;
  }

  .label {
    @apply p-[4px] px-3 bg-gray-100 rounded-lg text-gray-500 font-medium hover:bg-gray-500 hover:text-white ease-in transition-colors duration-200;
  }

  .outline-primary {
    @apply hover:outline hover:outline-2 hover:outline-offset-2 hover:outline-dark-s-1 transition-all ease-in-out duration-75;
  }

  .shadow-custom {
    @apply shadow-md hover:shadow-lg dark:shadow-gray-600 hover:dark:shadow-gray-600 transition-all duration-300 ease-in-out;
  }
}

.group:hover .group-hover {
  transition: transform 0.2s ease-in-out;
  transform: rotate(180deg);
}

.action:hover .action-heart-hover {
  animation: bounce 1s infinite;
  color: rgb(239 68 68);
}

.action:hover .action-cart-hover {
  animation: bounce 1s infinite;
  color: rgb(34 197 94);
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
